<h2>Делитесь опытом!</h2>
<h3>оставьте отзыв о компании, в которой вы проходили собеседование</h3>
<h3>Изучайте отзывы ваших коллег перед собеседованием</h3>
<a href="/review"><button type="button" class="btn btn-success">Оставить отзыв</button></a>

<h3>Отзывы</h3>
<ol class="container">
    {{#each allFeedbacks}}
    <li>
        <div class="mb-3">
            <p>Название компании: {{this.company}}</p>
            <p>Дата собеседования: {{this.dateOfInterview}}</p>
            <p>Автор отзыва: {{this.author}}</p>
            <p>Расположение компании: {{this.locationOfCompany}}</p>
            <p>Позиция на которую собеседовались: {{this.positionName}}</p>


        </div>
    </li>
    {{/each}}
</ol>